*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat',sans-serif;
}
.maxwidth{
  margin: 0 150px;
}
.Home{
  background-color: #10346b;
  padding: 25px 0;
}
.Home h1{
  font-family: 'ubuntu';
  font-size: 4em;
  font-weight: bolder;
  color: white;
  margin-bottom: 0;
}
.homecontent{
  text-align: center;
  background-color: white;
}
.homecontent h3{
  font-size: 2.5em;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}
.homecontent span{
  font-weight: bolder;
  color: crimson;
}
.carousel-inner{
  background-color: lightgrey;
  padding-top: 100px;
  padding-bottom: 50px;
}
.carousel-item img{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.vid-carousel{
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 100px;
}
.aboutuscontainer{
  background-color: #10346b;
  color: white;
  padding-bottom: 100px;
}
.aboutuscontainer .title{
  font-weight: bolder;
  text-align: center;
}
.aboutuscontainer h1{
  font-weight: bolder;
  font-size: 5em;
  padding-top: 100px;
  padding-bottom: 50px;
}
.aboutuscontainer h3{
  font-size: 2em;
  margin-top: 60px;
  margin-left: 25px;
}
.provide ul{
  margin-left: 25px;
  font-size: 1.5em;
}
.provide .btn{
  font-size: 3em;
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 50px;
  padding-left: 65px;
  padding-right: 65px;
}
.provide p{
  font-size: 1.5em;
  font-family: 'ubuntu',sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.provide p span{
  font-weight: bolder;
  color: crimson;
}
.paymentcontainer{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.paymentcontainer h1{
  padding-top: 25px;
  font-weight: bolder;
  font-size: 4.5em;
  text-align: center;
}
.paymentcontainer .row{
  margin-left: 0;
  margin-right: 0;
  padding: 150px 150px
}
.paymentcontainer .card{
  margin-right: 20px;
  border-width: 3.5px;
  background-color: #10346b;
  text-align: center;
  color: white;
}
.footercontainer{
  background-color: #10346b;
  margin-top: 0;
  color: #ccc;
  text-align: center;
}
.footercontainer.maxwidth{
  margin-top: 0;
  text-align: center;
}
.footercontainer h1{
  color: white;
  padding-top: 100px;
  font-weight: bolder;
  font-size: 4.5em;
  text-align: center;
}
.footercontainer h3{
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 2em;
  text-align: center;
}
.footercontainer .Whatsapp{
  font-size: 80px;
  padding: 10px 150px;
  border-radius: 20px;
  background-color: green;
  border-color: green;
}
.footercontainer .whatsapp a{
  color: white;
}
.footercontainer .icon:hover{
  cursor: pointer;
  color: white;
}
.footercontainer .icon{
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 100%;
  font-size: 60px;
}
.stickybtn{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* /--------------------------------------------------------------------------------------------------/
media query section */
@media screen and (min-width: 320px) and (max-width: 425px){

.maxwidth{
  margin: 0 30px;
}
  .Home h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
  }
    .homecontent{
    padding-top: 50px;
    font-weight: bolder;
    text-align: left;
  }
  .homecontent .qout1{
    margin-bottom: 100px;
  }
  .homecontent h3{
    font-size: 1em;
  }
  .provide .btn{
    margin-left: 0;
  }
  .carousel-inner{
    padding-top: 40px;
  }
  .carousel-item img{
    width: 65%;
  }
  .vid-carousel{
    padding-top: 0;
    padding-bottom: 0;
  }
  video{
    height: 300px;
  }
  .title{
    font-size: 10px;;
  }
  .provide{
    font-size: 7px;
  }
  .aboutuscontainer{
    padding-bottom: 100px;
  }
  .aboutuscontainer h1{
    padding-top: 50px;
  }
  .aboutuscontainer h3{
    font-size: 2em;
    margin-top: 60px;
    margin-left: 25px;
  }
  .provide.maxwidth{
    margin: 0 5px;
  }
  .provide ul{
    font-size: 1em;
  }
  .provide .btn{
    margin-left: 30px;
  }
  .provide p{
    font-size: 1em;
  }
  .provide p span{
    font-weight: bolder;
    color: crimson;
  }
  .paymentcontainer{
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px;) {

}
